fastapi==0.112.2
uvicorn==0.30.6

groq==0.11.0
python-dotenv==1.0.1

pandas==2.2.2
numpy==1.26.4

kubernetes==30.1.0

chromadb==0.5.5

sentence-transformers==3.0.1

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langsmith==0.1.147